@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700&display=swap');

:root {
	--clr-dark-blue: #12193b;
	--h1-fs: 2rem;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

h1 {
	font-size: var(--h1-fs);
}

body {
	font-family: 'Outfit', sans-serif;
	color: var(--clr-dark-blue);
}

.container {
	display: grid;
	grid-template-columns: 120px 1fr 120px;
}

nav,
section,
main,
footer {
	grid-column: 2 / 3;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	padding-block: 2rem;
}

ul {
	display: flex;
	gap: 15px;
}

ul > li {
	list-style: none;
}

.hero {
	display: flex;
}

.description {
	/* width: 70%; */
	flex-grow: 3;
}

.image-skilled {
	/* width: 30%; */
	flex-grow: 3;
}

.dashboard {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 1.5rem;
}

.card-item {
	background-color: #f4f3f8;
}

.footer {
	display: flex;
	justify-content: space-between;
}

img {
	display: block;
}

@media screen and /*(max-width: 530px) */ /*(400px <= width <= 530px) */ (width <= 530px) {
	.dashboard {
		grid-template-columns: repeat(2, 1fr);
	}
	.container {
		grid-template-columns: 60px 1fr 60px;
	}
}

@media screen and (width < 360px) {
	.dashboard {
		grid-template-columns: 1fr;
	}
	.container {
		grid-template-columns: 20px 1fr 20px;
	}
}
