* {
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
    grid-template-rows: 10vh 30vh 40vh 20vh;
}

nav,
section,
main,
footer {
    grid-column: 2 / 3;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

ul>li {
    list-style: none;
}

.hero {
    display: flex;
}

.description {
    width: 70%;
}

.image-skilled {
    width: 30%;
}

.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-item {}

.footer {
    display: flex;
    justify-content: space-between;
}